body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.about {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* background-color: #fff; */
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  align-items: center;
}

.zemi-icon {
  margin-left: auto;
  padding-left: 0px;
}

#zemi-name {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
}

#title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
}

.site-title {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}



