.box{
  display: flex;
}

#mentors-list{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  align-items: center;
}

@media(min-width: 0px){
  #mentor-box{
    width: 100%;
    background-color: #e9d4d5;
  }
  #mentor-name{
   font-size: 17px;
  }
}

@media(min-width: 370px){
  #mentor-box{
    width: 50%;
    background-color: #e9d4d5;
  }
  #mentor-name{
    font-size: 20px;
  }
}

@media(min-width: 900px){
  #mentor-box{
    width: 33%;
    background-color: #e9d4d5;
  }
  #mentor-name{
    font-size: 25px;
  }
}


#mentor-profile{
  display: flex;
  margin-top: 5px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#mentor-icon{
  height: 50px;
  width: 50px;
}

#mentor-name{
  height: 50px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 5px;
}

th {
  text-align: left;
  color: #F2545F;
  vertical-align: top;
}

#mentor-detail {
  margin-left: 10%;
  margin-right: 500px;
}

#section {
  background-color: #eeeaea;
  color: black;
}

#mentor-detail {
  margin-left: 10%;
  margin-right: 10%;
}

#mentor-detail table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}

#mentor-detail colgroup col:first-child {
  width: 30%;
}
#mentor-detail colgroup col:last-child {
  width: 70%;
}
