
.icon{
  /* margin-top: 0px;
  margin-bottom: 0px;*/
  margin-left: auto; 
  padding-left: 0px;
}

#subtitle{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
}

#title{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
}

.header-title{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-about{
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

header{
  border-bottom: 2px solid red;
}

.about{
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.box{
  display: flex;
}

#mentors-list{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

@media(min-width: 0px){
  #mentor-box{
    width: 100%;
  }
  #mentor-name{
   font-size: 17px;
  }
}

@media(min-width: 370px){
  #mentor-box{
    width: 50%;
  }
  #mentor-name{
    font-size: 20px;
  }
}

@media(min-width: 900px){
  #mentor-box{
    width: 33.3%;
  }
  #mentor-name{
    font-size: 25px;
  }
}


#mentor-profile{
  display: flex;
  margin-top: 5px;
}

#mentor-icon{
  height: 50px;
  width: 50px;
}

#mentor-name{
  height: 50px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 5px;
}

th {
  text-align: left;
  color: #F2545F;
}

#mentor-detail {
  margin-left: 10%;
  margin-right: 10%;
}

#section {
  background-color: #eeeaea;
}

#mentor-detail table{
  width: 100%;
}




